.logo {
    position: relative;
    height: 100px;
    width: 100px;
    border-left: 30px solid #FBBC05;
    border-right: 30px solid #4285F4;
    border-top: 30px solid #EA4335;
    border-bottom: 30px solid #34A853;
    border-radius: 50%;
    margin: 100px auto;
}

.logo::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    width: 80px;
    height: 30px;
    background: #4285F4;
}

.logo::after {
    content: "";
    position: absolute;
    border-top: 100px solid transparent;
    border-right: 100px solid white;
    top: -64.1px;
    right: -28.5px;
}

.container {
    position: absolute;
    background: #f8f4f400;
    height: 200px;
    width: 400px;
    border-radius: 7%;
    border: solid #fbbc05;
    margin-left: 50px;

}

.message {
    margin-left: 160px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0;
}


.btn {
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
    height: 40px;
    width: 100px;
    border-top: 10px solid #EA4335;
    border-bottom: 10px solid #EA4335;
    border-left: none;
    border-right: none;
    text-overflow: ellipsis;
    font-size: 15px bold;
    font-style: italic;
    background-color: rgb(56, 3, 3);
    color: #fbbc05;
    border-radius: 15%;

}

.btn:hover {
    transition: all 0.3s;
    width: 150px;
    height: 60px;
    background-color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 7px solid #ea35ab;
    border-right: 7px solid #6748d7;
    border-top: none;
    border-bottom: none;
    border-radius: 15%;
    margin-left: 120px;
    color: #ea35ab;

}



.btn:hover::after {
    transition: all 0.4s;
    content: " >>";
}

.btn:active {
    transition: all 0.3s;
    background-color: white;
    width: 130px;
    margin-left: 130px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 7px solid #6748d7;
    border-right: 7px solid #ea35aba4;
    border-top: none;
    border-bottom: none;
    border-radius: 20%;
    color: #6748d7;

}

.microsoft
{
    position: relative;
    height: 50px;
    width:50px;
    background:#F14F21;
    margin-top: 350px;
    margin-left: 200px;
}

.box2
{
    position: relative;
    height: 50px;
    width:50px;
    background:#7eb900;
    margin-top: 350px;
    margin-left: 55px;
}

.box3
{
    position: relative;
    height: 50px;
    width:50px;
    background:#00a3ee;
    margin-top: 5px;
    margin-left: 0px;
}
.box4
{
    position: relative;
    height: 50px;
    width:50px;
    background:#feb800;
    margin-top: -50px;
    margin-left: 55px;
}

.name
{
    font-size: 25px;
    color:#727272;
    font-family:'Segoe UI';
    margin-top: -70px;
    margin-left: 115px;
    font:bold;
}