body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position:0% 50%;
	}
}

header {
    height: 120px;
    width: 1000px;
    margin-top: -10px;
    margin-left: -10px;
    background-color:#062531;
    width: 1920px;
}

.line {
    width: 1000px;
    height: 5px;
    color: rgba(255, 39, 97, 0.679);
    border: 5px;
}

#logo {
    border-radius: 50px;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    
}

#title {
    margin-top: -90px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #00ff9d;
}

#title:hover{
    transition: all 0.4s;
    transform: scale(1.1);
}

.title {
    margin-top: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.college {
    margin-top: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}



#about {
    height: 400px;
    width: 250px;
    opacity: 100%;
    margin-left: 15px;
    margin-top: 100px;
    border-radius: 20px;
    border: 5px solid #e8142d00;
    padding: 15px;
}

#about:hover {
    transition: all 0.9s;
    margin-top: 25px;
    opacity: 100;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #0706063e;
    color: white;
    border: 5px solid #07fff7;


}

#current {
    height: 400px;
    width: 250px;
    opacity: 100%;
    margin-left: 350px;
    margin-top: -435px;
    border-radius: 10px;
    border: 5px solid #e8142d00;
    padding: 15px;
}


#current:hover {
    transition: all 0.9s;
    margin-top: -500px;
    opacity: 100;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #07060662;
    color: white;
    border: 5px solid #07fff7;


}



#myself,
#present {
    color: #00d2da;
    opacity: 100%;
    font-size: 25px;
    text-decoration: underline;

}



#picname {
    opacity: 80%;
    color: rgb(0, 242, 255);
    font-size: 25px;
    margin-top: 200px;
    margin-left: 70px;
    text-decoration: underline;


}

.pic {
    opacity: 100%;
    margin-top: -250px;
    margin-left: 5px;
    border-radius: 10px;
}

.pic:hover {
    opacity: 100%;
}

.nis {
    border-radius: 15px;
}

.skills {
    height: 400px;
    width: 280px;
    margin-top: -400px;
    margin-left: 10px;
    border-radius: 20px;
}

.skills:hover {
    transition: all 0.7s;
    margin-top: -500px;
    border: 5px solid #07fff7;
    background: #00d3da1c;
    color:white;
    font-size: 22px;
    .list{
        color:white;
    }

}

.frame {
    opacity: 10%;
    margin-top: 30px;
    margin-left: 320px;
    border: 5px solid #e8142d00;
    border-radius: 20px;
    width: 310px;

}

.frame:hover {
    transition: all 0.7s;
    opacity: 100%;
    margin-top: -50px;
    border: 5px solid #07fff7;

}

.tit {
    opacity: 100%;
    margin-left: 110px;
    margin-top: 10px;
    text-decoration: underline;
    color: #00d2da;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.list {
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}


.skillset {
    position: relative;
    align-items: center;
    margin-left:-15px;
    margin-top: 100px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    
    font-weight: bold;
    height: 230px;
    background:#03445c;

}

#label {
    margin-left: 25px;
    margin-top: 15px;
}

#c{
    margin-top: 15px;
    margin-left: 25px;
}
#cpp {
    margin-top: -55px;
    margin-left: 100px;
}

#python {
    margin-top: -56px;
    margin-left: 200px;
}

#html {
    margin-top: -57px;
    margin-left: 300px;
}

#css {
    margin-top: -58px;
    margin-left: 400px;
}

#js {
    margin-top: 25px;
    margin-left: 25px;
}

#adobe {
    margin-top: -55px;
    margin-left: 100px;
}

#qt {
    margin-top: -55px;
    margin-left: 200px;
}

#mysql {
    margin-top: -58px;
    margin-left: 300px;
}

.icons {
    border-radius: 40%;
}

.icons:hover {
    transition: all 0.7s;
    transform: scale(1.5);
    box-shadow: 0px 8px 15px rgb(0, 242, 255);
}










.intern{
    margin-top: -20px;
    margin-left:-15px;
    background-color: #03445c;
    height: 250px;

}
#inhead{
    color:white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    margin-left: 25px;
}
#cisco{
    margin-left: 100px;
    margin-top:20px;
}
#internshala{
    margin-top: -55px;
    margin-left: 300px;
}
#tech{
    margin-top: -55px;
    margin-left: 500px;
}
#aicte{
    margin-top: -65px;
    margin-left: 700px;
    margin-right: 100px;
}
#sf{
    margin-top: -70px;
    margin-left: 820px;
    margin-right: 100px;
}
#spoken{
    margin-top: -70px;
    margin-left: 950px;
}
#tcs{
    margin-top: -70px;
    margin-left: 1050px;
}
#nsdc{
    margin-top: 50px;
    margin-left: 100px;
}
#skill{
    margin-top: -65px;
    margin-left:200px;
}
#bpmce{
    margin-top: -65px;
    margin-left:300px;
}
#beu{
    margin-top: -65px;
    margin-left:400px;
}
#dst{
    margin-top: -65px;
    margin-left:500px;
}
.internlogo:hover{
    transition: all 0.5s;
    transform: scale(1.65);
}

footer{
    height:500px;
    background: #062531;
    margin-left: -15px;
}




.sicons{
    color:white;
    font-size: 30px;
    border-radius: 50px;
    background: rgba(0,0,0,0);
    
}


.sicons:hover {
    transition: all 0.4s;
    color:#01ffea;
    background-color: #062531;
    box-shadow: 0px 5px 50px rgb(6, 255, 251);
}

.sicons:active {
    transition: all 0.3s;
    transform: scale(0.5);
}
#git{
    margin-top:  -35px;
    margin-left:100px;
    
}
#x{
    margin-top:-35px;
    margin-left:150px;
}
#linkdin{
    margin-top:-35px;
    margin-left:200px;
}
#instagram{
    padding-top: 420px;
    margin-left:250px;
}
#mail{
    margin-top:-35px;
    margin-left:300px;
}
#phone{
    margin-top:-33px;
    margin-left:350px;
}
.contact{
    margin-bottom: -200px;
    margin-top: -50px;
}
.contactsec{
    margin-top: -350px;
    margin-left: 5px;
}
#address{
    position:inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 100px;
    margin-bottom: -100px;
    color:white;
    padding-top: 50px;
}

.container{
    padding:2rem;
    margin-left: 200px;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 8 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.75);
    overflow: hidden;
    border-radius: 10px;
}

.slider img{
    flex:1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    border-radius: 10px;
    animation: slideshow 30s ease infinite;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:45%;
    z-index:1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fb5e9f;
    opacity: 0.75;
    transition: opacity ease 250ms;
    
}

@keyframes slideshow {
    0%{transform: translate(0%);}
    10%{transform: translate(-100%);}
    20%{transform: translate(-200%);}
    30%{transform: translate(-300%);}
    40%{transform: translate(-400%);}
    50%{transform: translate(-500%);}
    60%{transform: translate(-600%);}
    70%{transform: translate(-700%);}
    80%{transform: translate(-800%);}
    90%{transform: translate(1000%);}
}

.slider-nav a:hover{
    opacity: 1;
    width: 0.75rem;
    border-radius: 40%;
}

.slider:hover{
    transition: all 0.75s;
    transform: scale(1.06);
}


#username,#email,#query{
    font-size: 25px;
    color:white;
    font-weight: bold;
    
    margin-right: 12px;
}
#namefield,#emailfield,#queryfield{
    background-color: rgba(193, 255, 255, 0.919);
    border-radius: 10px;
    border:2px white;
    width:300px;
    height: 30px;
    box-shadow: 0px 5px 15px rgb(241, 198, 198);
    margin-bottom: 12px;
}
#queryfield{
    background-color: rgba(193, 255, 255, 0.919);
    border-radius: 10px;
    width:300px;
    height: 50px;

}
#submitbtn{
    background-color: #002861;
    border-radius: 12px;
    font-size: 18px;
    color:white;
    border:0.75px solid white;
    width:100px;
    height: 40px;
    box-shadow: 0px 5px 15px rgb(241, 198, 198);
    margin-top: 20px;
    margin-left:175px;
}
#submitbtn:hover{
    background-color: rgba(0,0,0,0);
    box-shadow: 0px 15px 25px rgb(176, 26, 118);
    border: 1px solid white;
}
.form{
    padding-left: 60%;
    margin-top: -230px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#formlabel{
    font-size:30px;
    color:white;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 30px;

}
#email{
    margin-left: 7px;
}
#ends{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-left: 40%;
    margin-top: 50px;


}
@media screen and (max-width:1040px)
{
    footer,.intern,.skillset{
        width: 1100px;
        margin-left: 5px;
       
    }
    header{
        max-width: 1100px;
    }
    footer{
        max-width: 1100px;

    }
    body{
        max-height: 1200px;
        max-width: 400px;

    }
    #about,#current{
        width: 600px;
        height: 400px;
        color:white;
        
    }
    #myself,#present{
        margin-top: -5px;
        color:rgb(0, 217, 255);
    }
    #current{
        margin-top:40px;
        margin-left:20px;
    }
    #current:hover{
        margin-top:-50px;
    }
    .frame{
        margin-top:100px;
        margin-left:20px;
    }
    .frame:hover{
        margin-top:-40px;
        opacity: 100%;
    }
    html{
        max-width: 1080px;
    }
    .intern{
        height: 300px;
    }
    #sf{
        margin-left: 95px;
        margin-top: 50px;
    }
    #spoken{
        margin-left: 250px;
    }
    #tcs{
        margin-left:330px;
    }
    #nsdc{
        margin-left:450px;
        margin-top: -65px;
    }
    #skill{
        margin-left:550px;
    }
    #bpmce{
        margin-left:650px;
    }
    #beu{
        margin-left:750px;
    }
    #dst{
        margin-left:850px;
    }
    footer{
        padding-top: 50px;
        height: 800px;
    }
    #address{
        font-size:40px;
    }
    .container{
        margin-left: 20px;
        left:50%;
        height: 600px;
        width: 900px;
    }
    #myself{
        font-size: 30px;
    
    }
    body {
        background: linear-gradient(0.5deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 600% 600%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position:0% 50%;
        }
    }
    .form{
        margin-top: 80px;
        margin-left: -550px;
        font-size: 30px;
    }
    #ends{
        margin-left: 15%;
    }
    header{
        margin-left: -5px;
    }
}